body {
    font-family: 'Arial', sans-serif;
}

header, footer {
    color: white;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}
.navbar a:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar .active {
    text-decoration: underline;
}