html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main.construction {
    min-height: calc(100vh - 120px); /* Adjust based on the total height of the header and footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    color: #555;
}

.logo{
    width: 50px;
}

#insta img{
    filter: brightness(0%);
    width: 30px;
}

#linkedin img{
    width: 30px;
}