body {
    font-family: 400 15px/1.8 "Lato", sans-serif;
    overflow: -moz-scrollbars-horizontal; 
    overflow-x: hidden;
  }

.full-width-img {
    height: 400px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    width: 100%; /* Ensures it spans the width of the container */
}

.overlay-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    width: 100%;
    padding: 3px;
    color: white;
    transition: transform 0.3s ease-in-out; /* Smooth transition for all hover effects */
}

.position-relative:hover .overlay-text {
    transform: translateY(-10px); /* Moves the text up by 10px when parent is hovered */
}

.cursor-pointer {
    cursor: pointer; /* This class can be reused wherever a clickable cursor is needed */
}

.section {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.alternate-section {
    background-color: #f9f9f9;
}

.list-unstyled {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 5px;
}

.list-unstyled li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.list-unstyled li:last-child {
    border-bottom: none;
}

.list-unstyled li:hover {
    background-color: #f5f5f5;
    
}

.list-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Space between title and list */
    text-align: center; /* Centering the title above each list */
}

.logo {
  
    transition: all 0.3s ease;
  }
  
.logo:hover {
    
    transform: translateY(-2px);
  }

