h1 {
    margin-bottom: 1rem;
}

hr {
    margin-top: -0.5rem;
    width: 50%;
}

ul {
    padding-left: 20px;
}

ul li {
    padding: 0.5rem 0;
}

.image-outline {
    border: 5px solid black; /* Adjust color and thickness of the border */
    width: 300px; /* Slightly larger than the image */
    height: 200px;
    position: absolute;
    top: 20px; /* Adjust so only three sides are visible */
    left: 45px; /* Same here */
    z-index: -1; /* Ensures the outline is behind the image */
    transition: transform 0.3s ease;
}


.right-side img {
    width: 300px; /* Ensure image fits the container */
    transition: transform 0.3s ease; /* Smooth image scaling on hover */
}

.right-side img:hover {
    transform: translateY(-2px);
}

.row h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row h1:after {
    background: black;
    height: 1px;
    flex: 1;
    content: '';
  }

.row span{
    margin: 0px 10px 0px 0px;
}

.logo {
  
    transition: all 0.3s ease;
  }
  
.logo:hover {
    
    transform: translateY(-2px);
  }